@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#footer {
    background-color: #212121;
    padding: 20px 0px;
    color: #fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
}

#footer a {
    text-decoration: none;
    color: #2962FF;
}

#footer a:hover, a:hover {
    color: #aaa;
}

#footer h4 {
    text-transform: uppercase;
}

#charm {
    background-color: rgb(242, 242, 242);
    padding: 70px 0px;
}


.nav, .nav .current, .nav a:hover {
    background-color: #1976D2;
}

.nav a {
    color: #fff;
}

.nav a:hover {
    color: #aaa;
}

@media (min-width: 500px) {
  .nav .item {
      margin: 0px;
      padding: 0px;
      text-align: right;
      display: inline;
      /* list-style: none; */
      /* float: right; */
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.centered {
    text-align: center;
}

.title {
    font-size: 120px;
    margin: 0;
    display: inline-block;
    border-bottom: solid #2962FF;
}


.pan-cover h3 {
    font-size: 30px;
}


.pan-cover p {
    font-size: larger;
    text-transform: uppercase;
}


.thumbnail {
    padding: 8px;
    margin: 8px;
}

.site-item {
    margin: 5% 0;
}


.site-item a {
    color: initial;
}


.caption p {
    font-weight: 300;
    font-size: small;
    opacity: 0.8;
}


a {
    color: #2962FF;
    text-decoration: none;
}


.nav {
    padding: 20px 0px;
}

.site-item a:hover {
    color: #2962FF;
    transition: color 0.2s linear;
}

.nav div:before, #header .btn.btn-close {
    background: #1976D2 !important;
}

#footer h4 {
    color: #fff;
}


.nav .pagename:hover {
    color: inherit;
}


.zero {
    padding: 0px;
    margin: 0px;
}

.row-padding {
  margin: 1% 0;
  overflow: auto;
  padding: 1px 8px;
}
